[2020-03-23 21:39] prescottprue opened #7 "Feature Request: Install Settings"
It would be awesome if there was a settings for the install that is called [on this line](https://github.com/andresz1/size-limit-action/blob/8e1a88d1e13b83dae3a8108b88282261e39ccaa2/src/Git.ts#L13) including the ability to turn off, or use yarn.

Planning on having this run after my build and install has already happened within the workflow, but without the option to turn off install dependencies

[2020-03-24 13:14] andresz1 commented on #7
Hi @prescottprue,

Looks great to me 👍 just a couple of questions:
- Setting `install` to `false` would only skip the first install right ?
- Would this [line](https://github.com/andresz1/size-limit-action/blob/8e1a88d1e13b83dae3a8108b88282261e39ccaa2/src/Git.ts#L10) suppose any problem for you ? I was wondering because maybe someone wants do something after size-limit finishes in the same workflo

[2020-03-26 19:05] andresz1 commented on #7
Hi @prescottprue,

I just opened a PR to add this feature #8. Please 🙏let me know if it's what you wanted and I'll merge it, so you can test it.

Thanks

[2020-03-28 04:42] prescottprue commented on #7
I took a look - thanks for so quickly adding the support for yarn!

The PR looks good to go. I made a comment about the use of npm scripts over a tradition config, that is really more of a question about the reasoning.

[2020-03-29 19:10] andresz1 opened #9 "API improvements"
Instead of using custom npm script to perform install `size-install` and build `size-build` would be nice picking them from setting or an rc file. GitHub action inputs could also be used or `prepare` script. If someone have any idea or special need. Let me know ;)

[2020-03-29 19:14] andresz1 commented on #7
Thank you so much @prescottprue. I just release [v1.1.0](https://github.com/marketplace/actions/size-limit-action). Let me know if it works for you so I can close the issue 😉 I also created a new one to improve the install and build definition #9 I'll work on it when I have time! Let me know your thoughts

Thanks again!

[2020-04-05 01:35] sagar-gavhane opened #10 "npm ERR! missing script: size-install"
Hey, I'm getting an error about missing script: `size-install` but why we really need this script. I've tried to use `install: false` but it's not working.

This is my workflow.yml file

[code]

This is an error message.
[code]

[2020-04-05 09:14] andresz1 commented on #10
Hi @sagar-gavhane,

The `size-install` script lets you define how dependencies should be installed, if it fails `yarn` or `npm install` will be executed by default. That's the reason why that error is being shown. Nevertheless, the action should keep running after that. Could you send me the full log please ? I'll take a look into it 😉Just wondering, does master branch has `size-build` defined ?

[2020-04-07 19:53] #7 closed

[2020-04-07 21:22] prescottprue commented on #7
Works as expected, thanks!

[2020-04-08 06:37] andresz1 commented on #7
Cool 🙌🏻 thanks @prescottprue

[2020-04-14 17:55] andresz1 commented on #10
Hi @sagar-gavhane

I'm going to close this issue due inactivity. Feel free to open it again if the problem still happening!

[2020-04-14 17:55] #10 closed

[2020-04-20 16:32] natterstefan opened #13 "npx size-limit throws error in github action but not when executed manually"
Hi @andresz1,

thanks for the great work you published. Looks really promising and I might create a PR for some README improvements. During setup, I had some troubles, which might be resolved by some tweaks in the README.

Independent of that, I have still trouble setting it up ([see my checks here](https://github.com/natterstefan/react-editor-js/pull/4/checks?check_run_id=600759315)).

I get the

[2020-04-20 18:44] andresz1 commented on #13
Hi @natterstefan

Thank you! 😄sure, it would be great if you could create a PR to improve the README. About the error I'll take a look and come back to you ASAP

Thanks

[2020-04-20 18:46] natterstefan commented on #13
Thank you! :) Please, let me know if I can help.

[2020-04-20 19:36] andresz1 commented on #13
Hi @natterstefan

I found the problem, when executing `npx size-limit --json` the expected stdout is a json. Since there are some messages before the actual output (the `i [alt] ...`) of `size-limit` the `JSON.parse` is throwing an error.

Can you try adding `silent` option as `true` to [awesome-typescript-loader](https://github.com/s-panferov/awesome-typescript-loader) and let me know if it works

[2020-04-21 18:29] natterstefan commented on #13
Hi @andresz1,

thanks for the helpful hint, where and how to resolve it.

You can see the difference between turning on the `silent` option here:

![image](https://user-images.githubusercontent.com/1043668/79900226-357cc780-840e-11ea-92a5-ba8c7ebf4184.png)

(left: with `silent: false` - right: with `silent: true`)

**This resolved my issue.** Nevertheless, I'm going to migrate to [`ts-loader`](htt

[2020-04-21 18:29] #13 closed

[2020-04-21 18:57] andresz1 commented on #13
Hi @natterstefan,

Cool 🎉thank you! I think that adding a Troubleshooting section would be a nice idea. I'll add this case there (this can only happen if you provide a custom webpack config). Yep, using `ts-loader` is the right move 😉Feel free to open a PR if you want to improve the documentation!

Thanks again!

[2020-04-27 12:18] mrsln opened #14 "Working directory"
Thank you for the action! It would be awesome if we could set a working/project directory because there are cases when a repo has several projects (a monorepo). Thank you!

[2020-04-27 21:55] andresz1 commented on #14
Hi @mrsln,

Sure! that's a great idea 👍 thank you for opening the issue. I'll try to add it during this week and I'll let you know 😉 thanks again

[2020-04-29 18:40] andresz1 commented on #14
Hi again @mrsln,

I checked it and I think that this could be achieved already without setting a `working_dir` 🤔This is an example of how could be used with [lerna](https://github.com/lerna/lerna).

[code]

Let me know your thoughts.
Thanks!

[2020-04-30 05:44] mrsln commented on #14
Hi @andresz1! Thank you for the suggestion! We do use lerna for running Prettier in the pre-commit hook but not for building the projects. It would've been easier if the action supported `working_dir` option but I might try the lerna solution at some point. Thanks again!

[2020-05-01 13:35] #9 closed

[2020-06-01 17:22] dcwither opened #21 "v1.3.1 Addition of `git fetch` causes failure"
I recently rebased off of v1.3.1 and found that the addition of a `git fetch` caused a failure in my workflow.

[code]

I'm not sure if there's something I need to add as a result of this, but thought I'd check here. Thanks!

[2020-06-01 18:28] mmiszy opened #22 "HttpError: Resource not accessible by integration"
Full log is available here: https://github.com/typeofweb/devfaq-www/runs/728302480

[code]

[2020-06-01 20:04] andresz1 commented on #21
Hi @dcwither,

Thank you for opening an issue! 🙌  you have been really helpful. I think that adding try/catch for this would be helpful 🤔  I'll do some research!

[2020-06-01 20:06] andresz1 commented on #22
Hi @mmiszy,

Thank you for opening an issue! I'll do some investigation and come back to you with more information!

[2020-06-01 20:45] andresz1 commented on #22
Hi @mmiszy! just checked this [PR](https://github.com/typeofweb/devfaq-www/pull/48) and it seems like it's working as expected 🤔  can you check and let me know please ?

Thanks in advance!

[2020-06-01 21:57] mmiszy commented on #22
I think you'll want to have Unhandled Promise Rejection fixed anyway :)

I did some digging and it seems that there's a difference between these two build: The first one (which failed) was triggered by a PR from a fork of this repository, while the second one is my own PR to my own repo. Maybe that's the problem?

[2020-06-01 22:01] mmiszy commented on #22
Okay, so that's a thing: https://github.community/t/github-actions-are-severely-limited-on-prs/18179/8

[2020-06-02 15:02] dcwither commented on #21
I did some digging as well since I ran into this issue with the same repo as before (now public) trying to publish to the `gh-pages` from an action.

The solution I found was you need to replace the git url with one that includes the token and actor.

`https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@${host}/${repository}` I found this by looking at https://github.com/ad-m/github-push-action/, specifically

[2020-06-03 21:13] andresz1 commented on #22
Thank you for the investigation @mmiszy. Now I remember that it also happened to me and that's the reason why I added this log `Error creating PR review. This can happen for PR's originating from a fork without write permissions.`. Any idea to find a workaround ? I haven't found anything yet 😞

[2020-06-03 21:30] andresz1 commented on #21
Thank you @dcwither for the investigation and pointing into the right direction! I just merged my previous PR with the try/catch as a quick workaround and created `v1.3.2`. I'll try to open a PR to fix this properly soon (also found this [question](https://stackoverflow.com/questions/57290884/git-fetch-https-access-tokenurl-to-repo-git-branch-not-working)), maybe I'll combine it with the update re

[2020-06-19 22:35] vincentmacri opened #24 "Feature request: Reduce number of posts"
Right now the action posts after every commit on a PR. This causes a lot of messages cluttering the PR comments.

It would be nice if there was an option to have the action either delete or edit the previous comment, to avoid cluttering with lots of comments.

[2020-06-20 00:07] vincentmacri commented on #24
I've been trying to implement this myself, and it seems like the best way to do this is to replace approving/requesting changes for pull request reviews with status checks. Instead of posting a pull request review comment, just post a regular comment and update/delete it after each new run.

[2020-06-20 07:32] andresz1 commented on #24
Hi @vincentmacri, thank you for opening a PR! check comments

[2020-06-21 22:31] #24 closed

[2020-06-30 08:49] Komalov opened #30 "Unable to skip step for base branch"
Following [this line](https://github.com/andresz1/size-limit-action/blob/master/src/main.ts#L57) there is no way to ignore any step for base branch. That leads to troubles while setting up complicated custom build.

I am trying to ignore every step in here and build it by my own chains of scripts and then just execute npx size-limit --json, because this chain of scripts requires couple of ENV chan

[2020-07-02 08:21] bobaaaaa opened #31 "Different size-limit results without any code changes"
Hi, this is not be a blaming issues. I only want to understand why this could happen.

## size-limit config

[code]

## gh action

[code]

## Run

I created a PR without any source code changes (only README to trigger CI). I get the following results via gh actions console:

### PR result

[code]

### master result

[code]

### local size-limit run

[code]

## Question

I don't care about the `run

[2020-07-05 12:33] andresz1 commented on #31
Hi @bobaaaaa, thank you for reporting this issue! The configuration looks good 🤔  however this is strange.
- Could provide somehow more information about the action log ? I'd like to see the `git checkout` is working as expected.
- The `yml` also looks good, but just to discard stuff, could you change it as it's shown in the `README.md`
- I guess that the repo is not public but if so can you share

[2020-07-05 12:44] andresz1 commented on #30
Hi @Komalov, thank you for opening an issue and trying out the action. The `skip_step` option was meant to speed up the process when you already installed dependencies and created a build in the same flow for the `current` branch. You can configure what's going to be executed after installing using `postinstall` for example. I thought that would be enough. To understand better what you are trying

[2020-07-05 12:45] andresz1 commented on #14
Hi @mrsln, I'll close this by now since an example with `lerna` was added. Feel free to reopen or creating a new issue when you try it out! thank you so much.

[2020-07-05 12:45] #14 closed

[2020-07-07 06:39] bobaaaaa commented on #31
I will check on this after my holidays. 👍

[2020-07-07 06:49] KELiON commented on #30
@andresz1 thanks for your reply! I would like to join the conversation and explain more details.

I think we use the common flow:

* install dependencies, create a production build, measure
* switch to master branch, install dependencies, measure
* compare

But there is a dilemma with the environment. When we use `NODE_ENV=production` in github action ENV `yarn install` doesn't install `devDepende

[2020-07-12 18:24] andresz1 commented on #31
@bobaaaaa cool! let me know. Enjoy your holidays

[2020-07-12 18:33] andresz1 commented on #30
Hi @KELiON, thank you so much for detailed explanation. What if you set `NODE_ENV=development` and then for the build step you define `build_script` input
[code]
Would this solve your problem ?

Let me know, thanks!

[2020-07-14 10:16] KELiON commented on #30
@andresz1 it doesn't work because in [this line](https://github.com/andresz1/size-limit-action/blob/master/src/Term.ts#L32) it runs `/usr/bin/yarn run NODE_ENV=production yarn build`

[2020-07-14 10:23] andresz1 commented on #30
Oops! sorry my bad @KELiON 😞 . What about ?
In `package.json` file:
[code]
and then:
[code]

[2020-07-20 12:47] Klemensas commented on #21
The workaround did help.

https://github.com/andresz1/size-limit-action/pull/28 is this outstanding PR the feature you're talking about?
Do I understand correctly that you didn't tackle this there?

[2020-07-20 13:44] Klemensas opened #33 "Fail gracefully on initial addition"
When creating a PR that adds the `size-limit` dependency and action initially the action will always fail due to it trying to compare with the base branch that hasn't `size-limit` added yet.

<details>
<summary>Failure log</summary>

[code]
</details>

Instead of failing it could just give a warning about not being setup yet and pass

[2020-07-21 13:28] andresz1 commented on #33
Hi @Klemensas, you are right! Thank you so much for opening this issue!

[2020-07-21 13:41] andresz1 commented on #21
Hi @Klemensas! Yep, I didn't tackle this problem there. #28 does a small refactor and add some improvements in terms of the UI of the report. So this issue still open!

[2020-07-27 08:22] bobaaaaa commented on #31
Hi @andresz1 here are the full gh action raw logs (fresh). I removed some internal stuff (build output).

[code]

[2020-08-21 08:39] bobaaaaa commented on #31
I have found the issue 😄. The problem was that our build process (next.js) created fingerprinted assets (css and js). Between the two builds (master & PR) all generated files are not cleaned up. The solution was to add a clean task before building. Now everything works as expected 👍

Maybe it would be helpful for someone else to mention this in the `README`.

[2020-08-21 08:39] #31 closed

[2020-08-25 20:26] andresz1 commented on #31
Cool @bobaaaaa! thank you so much for the update! I'll add to `README`

[2020-08-28 04:26] azu opened #38 "Directory support for monorepo"
I want to use size-limit-action in monorepo.
The monorepo has multiple packages in a repository.

[code]

However, current size-limit-action can not specify the directory like `packages/bar`.

📝 Unfortunately, GitHub Actions does not support the combination of working-directory and uses & with.
[Unable to use working-directory with docker based actions - GitHub Actions - GitHub Support Community](

[2020-09-01 19:49] andresz1 commented on #38
Hi @azu! thank you so much for opening this issue. Currently there is no way to provide the working directory but there is another way, for example using [lerna]():

- Install size-limit in your main package (root).
- Install all packages dependencies after main `install` and build all packages during `build` step.
[code]
- Configure `size-limit` specifying each file you want to track.
[code]
Let

[2020-09-03 10:24] azu commented on #38
Thanks.

I also want to use this action in large monorepo.
It includes multiple architectures like go lang and Node.js.
So, the root directory does not depend on npm or yarn.

Example
[code]

Probably, create `package.json` in root dir and this action can check it, but it inconveniences.

[2020-09-08 13:15] mrlubos commented on #33
I managed to figure out what's going on in the initial error (You need to add size-limit dependency) and merged `size-limit` first. I added the `size-limit` Github Action in a separate pull request and it fails with the second error (Error parsing size-limit output). It's not obvious to me how I can bypass this error, can you advise please @andresz1?

[2020-09-13 15:55] mrlubos commented on #33
@Klemensas How did you manage to get past this error?

[2020-09-13 19:36] Klemensas commented on #33
@mrlubos maybe you're basing your PR on a branch that doesn't have `size-limit`?

Once I've merged the `size-limit` stuff to my base branch everything worked fine.

[2020-09-13 20:00] mrlubos commented on #33
Ahhh, I think I've got it. Not only do I need `size-limit` dependency, I also need to merge the config first. This is currently in my pull request, will split it into another one. That should do it, thanks for pointing it out!

[2020-09-29 02:10] azu commented on #38
📝 https://github.com/Arhia/action-check-compressed-size support `directory` option.

[2020-10-02 17:26] #38 closed

[2020-10-29 20:13] billyvg opened #41 "Should % changed be compared against base instead of current?"
https://github.com/andresz1/size-limit-action/blob/master/src/SizeLimit.ts#L48

Wouldn't this make more sense to compare against base instead of current?

[code]

If base is 100, and current is 200, then base increased by 100%.

[2020-10-31 16:21] #41 closed

[2020-10-31 16:22] andresz1 commented on #41
Yes! I think that you are right @billyvg thank you so much!

[2020-11-05 08:49] kanevk opened #44 "Error - Couldn't find a package.json file in "/home/runner/work/...""
I started a new project that is `tsdx` web package. I'm using yarn as a `package` manager.

<img width="1100" alt="Screenshot 2020-11-05 at 10 47 40" src="https://user-images.githubusercontent.com/8972876/98218355-56dd7500-1f54-11eb-8186-62915bf55c71.png">

I believe that issue is because the main branch has no `package.json` - since the current PR is the first PR for this repo and it introduces `

[2020-11-06 15:39] jonnyelliot opened #45 "Error: results.reduce is not a function"
GH action:

[code]

Gives this error:

[code]

[2020-12-07 14:34] chenxsan opened #46 "Error creating comment."
I just got error when running size-limit action against pull requests from fork:

Does it mean the action can't comment on pull request from fork? I'm a little confused here as this is the most important feature I would expect from size-limit action.

[2020-12-11 12:40] chenxsan commented on #46
Closed as I believe it's not a problem of this action.

[2020-12-11 12:40] #46 closed

[2020-12-30 08:27] everdimension opened #47 "Compare based on pattern instead of resolved file names?"
I tried using this action in my project, and since bundled files have hashes in their names, they are always different (compared to files in master branch)
Because of this, the comment always shows 100% difference

Wouldn't it be better to match outputs based on the `path` field of `.size-limit.js` config?

[2021-01-13 18:52] semoal opened #48 "Action runs twice the same actions"
https://github.com/lingui/js-lingui/runs/1697173419?check_suite_focus=true

Why does it run twice? the first one goes correctly and the second fails.

[2021-01-13 20:43] semoal commented on #48
Runs twice because need to change the diff of size... :/ what a moron haha

[2021-01-13 20:43] #48 closed

[2021-01-14 21:03] karlhorky commented on #45
I had this too. For me, I fixed this by removing the `size-limit` configuration related to files that didn't exist:

[code]

This file didn't exist anymore, and was causing webpack to error out.

[2021-01-14 21:06] karlhorky commented on #45
Also just ran into something similar but not quite the same: a webpack error about `Cannot use keyword 'await' outside an async function` when using top-level await.

Since this relates to the [webpack `topLevelAwait` experimental option](https://webpack.js.org/configuration/experiments/) (at least, experimental at the time of writing), one way to fix this would be to specify the [`"config": "path

[2021-01-15 09:51] Rolandisimo opened #49 "Action step is run twice"
The action runs correctly for my feature branch but then checks out to master and runs the action again which is not what I want (also master does not have `size-limit` as a dependency yet which makes the CLI run fail)

**How can I ensure it runs only for the current branch?**

My size-limit config looks like:
[code]

the action logs:
[code]

[2021-01-21 05:39] borislemke commented on #47
Same issue here. Was thinking to use `react-app-rewired` to disable file name hashing just for this issue, hoping there's a better alternative or configuration we missed?

<img width="915" alt="Screen Shot 2021-01-21 at 13 37 50" src="https://user-images.githubusercontent.com/10104993/105284645-dd1d6500-5bed-11eb-8277-c63543173356.png">

[2021-01-21 11:54] borislemke commented on #47
So we tried installing `react-app-rewired` in a test branch to see if it would fix the issue, but it's still not able to correctly display the size difference.

<img width="948" alt="Screen Shot 2021-01-21 at 13 07 37" src="https://user-images.githubusercontent.com/10104993/105346900-1fac6500-5c21-11eb-9d9c-aa338e50e22e.png">

[2021-01-21 15:36] andresz1 commented on #47
Yes! you are right! I'll try to open a PR to fix this issue

[2021-02-18 12:02] thoughtspile commented on #30
Hi @andresz1, and thanks for your work on size limit action! We build our package in an npm prepare script, and without the ability to skip steps in base branch we get build 3 times:
- Once per branch in size-limit-action build step,
- And once more during base install.

Another option here would be to add an `install_command` option — I'd pass `--ignoreScripts` then.

[2021-03-04 13:17] everdimension commented on #47
@andresz1 Thanks!! Can't wait! :)

[2021-03-17 20:22] tmh-dev commented on #49
I am having the same issue. The action first runs successfully on my feature branch but fails on the second run when master is checked out because it is missing the `size-limit` dependency.

[2021-05-19 10:48] The-Code-Monkey opened #54 "Crashing out when run as action but not manually."
https://github.com/AW-Web-Design/styled-system/runs/2619264107

here is a link to the github run that keeps failing at the bottom it says.

[code]

its also asking me to install packages when they are already installed, the config im using has come from tsdx which i have not modified.

[2021-05-31 15:15] gtkatakura commented on #54
It is a problem related to your first install of the action because you don't have size-limit for your target branch and when it tries to run it to compare the results, it crashes.

[2021-06-04 17:01] andresz1 commented on #54
Yes! this happens only on first install. If you merge the PR it should work as expected! feel free to reopen the issue if not

[2021-06-04 17:01] #54 closed

[2021-06-06 10:46] faergeek commented on #49
NOTE: I'm not the author, I just noticed this issue and https://github.com/andresz1/size-limit-action/issues/48 :-)

The whole purpose of this is action is to compare sizes of bundles between pull request branch and base branch (additionally it fails if limits aren't satisfied, but that can be made easier outside of it). So it's expected for you to have size-limit installed and configured in base

[2021-06-09 11:14] The-Code-Monkey opened #57 "Throwing errors for aliases"
I have aliases that work as I can run storybook and compile my code but for some reason size limit isnt understanding the aliases

![image](https://user-images.githubusercontent.com/31218527/121345037-4ba05c80-c91c-11eb-800e-3fb81d6732de.png)

[2021-06-17 13:22] stereobooster opened #61 "How to use with code splitting?"
Hi, thanks for creating this action. I wonder how to use with code splitting (create react app)

I get report like this:

| Path                                                                                                                  | Size                 |
| --------------------------------------------------------------------------------------------------------------------- | -----------

[2021-06-23 07:40] stereobooster commented on #61
[code]

[2021-06-23 07:40] #61 closed

[2021-07-26 17:39] hhimanshu opened #62 "Command runs successfully locally, but Github Action fails"
Hello
The command, if I run locally runs well
[code]

But the same command, when using the Github Action is failing

[code]

[2021-07-26 20:02] hhimanshu commented on #62
The actual error is
[code]

[2021-07-26 20:28] hhimanshu commented on #62
I can confirm that the action is consistently failing. See another log at
https://github.com/hhimanshu/ts-react-components-lib/pull/7/checks?check_run_id=3165572896

[2021-07-27 17:10] hhimanshu commented on #62
Hello @ai , any help on this one?

[2021-07-27 21:02] ai commented on #62
AS I told to @hhimanshu it happens because there is no files listed in `path`. Seems like you are calling Size Limit action before build (or Size Limit action doesn’t see the build file, or the path is wrong).

[2021-07-28 14:29] hhimanshu commented on #62
@ai , I will give it a try again, but since dependency updates, the job is failing. If you look at the [actions history](https://github.com/hhimanshu/ts-react-components-lib/actions/workflows/size.yml), no change to this job has been made.

[2021-07-28 14:37] hhimanshu commented on #62
Hello @ai , I can also share more findings to confirm that the build runs before `size-limit` action runs.
The files it looks for are available in the [pull request](https://github.com/hhimanshu/ts-react-components-lib/pull/7/files#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519R42-R51)
In the job, the `size-limit` job runs [successfully once](https://github.com/hhimanshu/ts-

[2021-07-28 15:48] ai commented on #62
Let’s wait @andresz1. If `npx size-limit` runs locally, it means that something is broken (or work in unexpected way) in the action.

[2021-07-28 19:45] andresz1 commented on #62
Hi @hhimanshu! thank you for reporting this issue. Let me explain you what the action does:
- Run size limit in the current branch (hhimanshu/update-deps)
- Checkout to the base branch (master)
- Run size limit
- Compare the results
- Post or update the comment in the PR

Looks like is working in your working branch (hhimanshu/update-deps) but it does not in master. Could you please try executing

[2021-07-28 20:30] hhimanshu commented on #62
Thanks @andresz1 , it doesn't run and for the same reason that in the `master` branch, file names in `package.json` is incorrect.
So I must fix it there first to test
[code]

[2021-07-28 20:34] andresz1 commented on #62
Perfect @hhimanshu! please let me know if it works 🙌🏻

[2021-07-28 20:42] hhimanshu commented on #62
Seems like it passed this time
https://github.com/hhimanshu/ts-react-components-lib/runs/3185914512?check_suite_focus=true

Thanks for the explanation @andresz1

[2021-07-28 20:42] #62 closed

[2021-07-28 21:01] andresz1 commented on #62
No problem @hhimanshu

[2021-08-10 05:35] promet99 commented on #62
Thanks for the explanation! Your action has been much help to me.
Yet, some of my repos use ```develop``` branch as its main branch.
Can I tweak to action to compare current branch to ```develop``` branch instead of ```master``` branch?

[2021-09-24 13:27] miktirr commented on #47
This would be a great and useful addition!

But maybe there could be an option for reporting only the combined size of analyzed files in the GitHub comment? In the same way as in the CLI output. That would also be a perfectly fine solution for my use case. 👍

[2021-10-04 14:48] anilanar commented on #30
Use case: I use https://rushjs.io/ to manage my monorepo+dependencies and size-limit action runs `npm install` after checking out the main branch which won't work with rushjs. It needs to run rushjs's own installation step.

[2021-10-12 23:46] ezzatron opened #66 "Warning: Unexpected input(s) 'clean_script'"
I just noticed this when checking the output from the action in [one of my workflows](https://github.com/snout-router/regexp/runs/3856787530?check_suite_focus=true#step:4:1). I think this just stems from the fact that the `v1` tag hasn't had an update since 2020, but I was just following the README.

I'd prefer not to use `andresz1/size-limit-action@master` if possible. Any chance of an update to

[2021-10-16 01:10] drewlustro commented on #66
Just ran into this myself! Seems to work fine by explicitly declaring the version: `andresz1/size-limit-action@v1.5.1`

[2021-10-17 23:51] ezzatron commented on #66
Hmm, that didn't work for me. I still get the warning message: https://github.com/snout-router/regexp/pull/12/checks?check_run_id=3921054812#step:4:1 - which makes sense, since the `clean_script` option was added after the `v1.5.1` tag was created: https://github.com/andresz1/size-limit-action/compare/v1.5.1...master.

Unfortunately there is no tag available that contains the change.

[2021-11-24 13:00] raviteja83 opened #67 "create a new comment if two workflows are run in same pr"
I am using a monorepo. size limit action is conditionally run on each package only if something is changed in that package.
I run mutliple workflows for size limit for each package.

Current behaviour:
- if two packages are changed, whichever wf is run later that is replacing the previous size limit.

Expected behaviour:
- Each workflow should add and manage it's own comment instead of updating on

[2021-11-25 21:34] Drapegnik opened #68 "Wrong docs or build command?"
## According to docs:

## Actually
action try to run `size-build` script

[code]

https://github.com/realtby/icons/runs/4328185529?check_suite_focus=true#step:3:30

workflow:
[code]

[2021-11-25 21:41] Drapegnik commented on #68
Got it, I didn’t use the latest version:

[code]

should be updated here:
https://github.com/ai/size-limit#reports

[2021-11-25 21:41] #68 closed

[2021-12-11 12:46] dcastil opened #69 "Add option to use GitHub Statuses instead of a comment"
It would be awesome if I could choose to use [GitHub Statuses](https://docs.github.com/en/rest/reference/repos#statuses) instead of a comment to post the size limit information. That would make it a lot easier to see how the size limit changed between commits in a PR and make it more obvious to which commit a size-limit report belongs.

I've seen in https://github.com/andresz1/size-limit-action/pu

[2021-12-15 07:04] nwaughachukwuma opened #70 "Provide support for pnpm projects"
Going by the logic shown below, this `size-limt-action` doesn't support projects running with `pnpm`, and throws the error highlighted above:

[code]

Is there a special need required to support `pnpm`? I can PR a fix.

[2021-12-15 07:16] nwaughachukwuma commented on #70
#71

[2021-12-30 06:47] nwaughachukwuma commented on #70
Fix has been merged. Closing...

[2021-12-30 06:47] #70 closed

[2022-01-07 01:17] prescottprue opened #72 "Warning for github_token input"
Examples in docs use `github_token` input, but when using that a warning is thrown listing `access_token` as the correct input:

![image](https://user-images.githubusercontent.com/2992224/148475401-82baf390-aca7-444b-ad07-eb678d829016.png)

[2022-01-11 05:57] keiya01 opened #73 "Is there a way to use action in GHE?"
I want to use size-limit-action in GitHub Enterprise(GHE).
But GHE not seem to be supported.

To support GHE, required to use [@octokit/plugin-enterprise-server](https://www.npmjs.com/package/@actions/github#Extending-the-Octokit-instance).

[2022-01-16 12:47] Beraliv commented on #47
Thank you for the issue! That would also help in my blog page

I currently created 8 groups under "size-limit" in my `package.json`:

[code]

What I see at the moment is this – https://github.com/Beraliv/beraliv.dev/pull/359#issuecomment-1010916781,

<img width="460" alt="Screenshot 2022-01-16 at 13 45 43" src="https://user-images.githubusercontent.com/2991847/149660462-55f6da11-5677-4132-83d9-899

[2022-04-17 18:30] phryneas opened #77 "add option to specify package manager"
Recent builds of https://github.com/reduxjs/redux-toolkit/ seem to fail with `size-limit-action`, since `size-limit-action` does not detect the yarn monorepo (`yarn.lock` is in the root folder, we are running with a different `directory` though) and runs `npm` instead.

Would it be possible to add a flag to just skip all the flaky autodetection and just manually specify the package manager? I'd be

[2022-04-18 01:35] soanvig commented on #77
For yarn v2 PnP libraries are stored in non-standard format, and size-limit action is using `/usr/local/bin/npx size-limit --json` therefore it's unable to verify anything

[2022-05-03 19:13] zchenwei commented on #77
+1.. It doesn't detect yarn monorepo and runs `npm`

[code]

[2022-05-03 20:25] soanvig commented on #77
So I created a temporary fork: https://github.com/soanvig/size-limit-action-yarn-v2
That just uses yarn directly. You can install it in the meantime in your GH like so: https://github.com/soanvig/mm-jsr/blob/master/.github/workflows/size-limit.yml

[2022-05-03 22:39] zchenwei commented on #77
@soanvig This is great! But can you add an option to specify the manager? For a monorepo, there will be only one `yarn.lock` in the root and `has-yarn` will not work if I am using it in a subdirectory

[2022-05-04 07:56] soanvig commented on #77
@zchenwei I advise you to create your own fork in this case

[2022-05-06 14:32] wizardels opened #78 "Title Field"
Support adding a title field instead of the path name.

We're using this in a monorepo and our paths are quite long. We think it would be good to have an option to specify a name or even use the name from the packages `package.json`

Thanks!

[2022-05-06 14:50] #78 closed

[2022-05-14 08:27] simonireilly commented on #22
If you still encounter this issue it is because the GITHUB_TOKEN does not have sufficient privileges to write the comment out after running.

The fix is to allow repo writing in the github action token.

[2022-05-30 18:47] markerikson commented on #77
It seems like the recent "custom script" option in #79 could help fix this, by letting us run `yarn size-limit` ourselves (given that we have it as a devDep in RTK)... but it hasn't been released yet.

@andresz1 could you put out a new version with that fix?

[2022-05-30 19:35] andresz1 commented on #77
Hi @markerikson! I just updated the `v1` release with the changes. Let me know if it works please 🤞🏻

[2022-05-30 19:50] andresz1 commented on #66
Hi @ezzatron could you try the `v1` version please! It will have the latest changes

[2022-05-30 19:50] #66 closed

[2022-05-30 19:52] andresz1 commented on #49
Great explanation @faergeek! that's just right

[2022-05-30 19:52] #49 closed

[2022-05-30 19:53] andresz1 commented on #44
That's right. It should have the `package.json` and `size-limit`

[2022-05-30 19:53] #44 closed

[2022-05-30 19:57] markerikson commented on #77
@andresz1 thank you! I'll have to try it out here shortly.

as a fellow maintainer I hate to be the one doing the "PLZ RELEASE THISS!!!!!!!" :)  appreciate the response!

[2022-05-30 20:04] andresz1 commented on #77
@markerikson hahaha 🤣  no worries! BTW thank you both for your work with Redux.

[2022-05-30 20:08] andresz1 commented on #77
@zchenwei @soanvig you can now use `yarn dlx` instead. Let me know how it goes!

[2022-05-30 20:56] markerikson commented on #77
Hmm. I just tried updating RTK's workflow to add the `script` option, and I'm still getting `npm` errors even after I explicitly specify `size-limit-action@1.7.0`.

Lemme actually paste in the entire error for reference:

[code]

Unfortunately that output has me really confused.  I assumed this was erroring while trying to do `npx size-limit`, but now I have no idea where that `npm install` is act

[2022-05-30 21:18] andresz1 commented on #77
I think that I found the issue. The problem is that auto-detecting the package manager to install dependencies is not working properly with monorepos and `directory` option. It tries to find a `yarn.lock` inside `toolkit` directory but there is none so it fallbacks to `npm install`. I will try to provide solution ASAP (hopefully tomorrow). Let me know if you can wait and try it out again @markerik

[2022-05-30 21:22] markerikson commented on #77
Yeah, that's generally the conclusion the earlier comments were coming to :)

FWIW I just spent the last half hour trying to bump all of RTK's `eslint`-related devDeps to work around this, but yeah, I think this really is the root cause - `npm` shouldn't get run at all.

I've got the action disabled in our repo atm, but was trying to re-enable it with v1.7.0 over in https://github.com/reduxjs/redu

[2022-05-30 21:25] andresz1 commented on #77
Sure! will do. Thank you for pointing out the issue and sorry for that :(

[2022-06-06 09:57] ezzatron commented on #66
@andresz1 Thank you for the tag ❤️ — It looks like the `clean_script` is working now: https://github.com/snout-router/regexp/runs/6753427847?check_suite_focus=true#step:4:30

[2022-06-06 22:41] zchenwei commented on #77
Yes, I think that's the issue. I have a monorepo and want to run size limit in one of workspaces by specifying `directory` option but that will cause it to look for `yarn.lock` there as well.. Plz let me know once you've got it fixed. Thanks! :)

[2022-06-11 01:00] Soviut opened #81 "skip_step install not skipping install step"
I'm trying to skip the install step so that I can install manually. I need to install manually so I can use some install flags to ignore peer dependency warnings in npm 8 which halts the build.

**.github/workflows/size-limit.yml**

[code]

The build logs look like this (slightly truncated and anonymized)

[code]

[2022-06-11 01:15] Soviut opened #82 "FEAT option to include install flags"
NPM 8 throws an error on peer dependency mismatches. I have an intentional mismatch that I need to ignore with the `--legacy-peer-deps` install flag.

It would be great if there was an option to pass install flags to the install step.

[code]

Right now, I'm trying to use `skip_step: install` so that I can manually install, but I'm having issues with that approach https://github.com/andresz1/size-

[2022-06-28 15:48] elliotwestlake opened #83 "feat: show passed in table"
Currently if the action fails, we have to go into the action and look through the `json`. Would be good to be able to see from the comment which have failed

[2022-06-30 20:33] elidupuis commented on #81
I just ran into this as well. It looks like the install step that is running is the (even with the `skip_install` flag set) is for the size comparison between the PR and the base branch. The `skip_install` flag is not being passed to this size-limit execution: https://github.com/andresz1/size-limit-action/blob/1f3a2e486e49bf37642e97ab4df412cec1febf97/src/main.ts#L65

I assume this is intentional b

[2022-07-10 16:53] JounQin commented on #30
It will always try base branch, so it's bad to when enable `size-limit` on a PR for the first time...

https://github.com/un-ts/yocto-ttl-cache/runs/7271899125?check_suite_focus=true

[2022-08-03 14:03] fryorcraken opened #84 "`skip_step: build` skips the `install` step"
`skip_step: build` skips the `npm i` part, which means that the first run (current PR) fails because `@size-limit/preset-big-lib` is not installed:

successful run: https://github.com/status-im/js-waku/runs/7652074194?check_suite_focus=true (no `skip_step`)
failed run: https://github.com/status-im/js-waku/runs/7653314904?check_suite_focus=true (`skip_step: build`)

[2022-08-04 18:45] PilotConway commented on #77
We just ran into this same issue with npm being used over yarn. I got it working with the `script` option using `yarn workspace`, but the issue we had was doing that still ran install and build across the whole monorepo which takes quite a bit of time (and compute minutes which our IT team isn't too fond of). So we really want to use the `directory` option to specify just the package we need to bu

[2022-08-18 11:35] kamilkazmierczakMtab opened #88 "Nondeterministic problems with private packages authentication with valid token"
I have weird issues with `npm install`  that is called from `size-limit-action`
In 90% cases **on first try** I get
`npm ERR! 401 Unauthorized - GET https://npm.pkg.github.com/download/..... - - unauthenticated: User cannot be authenticated with the token provided`
It's always for private packages under same organization.
Token is 100% valid (It's not `secrets.GITHUB_TOKEN` because GITHUB_TOKEN ca

[2022-08-26 10:14] kamilkazmierczakMtab commented on #88
Also after update of some dependencies it will always fail after switching to main branch so I have to manually update packages in main branch and only after that size-limit will not fail with 401 after switching to main

[2022-08-29 16:15] gkatsanos opened #90 "Is this actively maintained?"
There's several issues, open PRs, and the action does not run basically

[2022-09-07 05:47] tniezurawski opened #91 "Is it possible to set a relative limit?"
I'm wondering if I could fail the action if the file size increases e.g. by 10% or 100kB. Does such an option exist? If not, could you guide me on where to start? I can prepare the PR and documentation.

**Use case:**
We're far away from the limit we've set but I'd like to discourage big changes in the team as well as detect obvious mistakes where for example a huge dependency lands in the main bu

[2022-09-14 20:51] loombarishav opened #92 "Getting Chromium revision error while github workflow action"
I am trying to integrate size-limit-action in github workflow to check pull request, but getting below error
<img width="1068" alt="Screenshot 2022-09-15 at 2 17 13 AM" src="https://user-images.githubusercontent.com/87748732/190259836-87de46ff-fad2-497f-8c97-fa4db2f04026.png">

Below is my config

- name: Size Limit Action
        uses: andresz1/size-limit-action@v1.7.0
        with:
          git

[2022-10-11 05:35] SevereCloud opened #93 "Node.js 12 actions are deprecated"

[2022-10-25 06:01] nakaakist commented on #67
Creaeted a PR! Hope it will be reviewed...

https://github.com/andresz1/size-limit-action/pull/94

[2022-11-16 08:46] ChachaZhou opened #96 "Got error when param package_manger with value 'pnpm'"
<img width="1308" alt="Screenshot 2022-11-16 at 16 45 51" src="https://user-images.githubusercontent.com/105265676/202132048-c57b9a21-77fc-40da-a314-810938be61f1.png">